body {
    /* The image used */
    background-image: url("background.png");
      background-size: cover;


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#input1 {width:10%;height:30%;border: 2px dotted blue;}
input {font-size:130%;}
